body {
    background: $base-color;
    margin: 0;
    padding: 0;
}

a {
    text-decoration: none;
}

header {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-between;
    background: $base-color;
    padding: 0 10%;
    margin: 0;
    height: 4rem;
}

footer {
    background: $primary-color;
    color: white;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    padding: 1rem 10%;
    height: 2rem;
    a {
        color: white;
        font-weight: bold;
    }
}

nav {
    list-style-type: none;
    color: $semidark;
}

nav li {
    font-family: $body-font;
    font-size: 1rem;
    font-weight: 600;
    display: inline-block;
    position: relative;
    margin-left: 0.4rem;
    margin-right: 1rem;
    line-height: 3rem;

    a {
        color: inherit;
    }

    .nav-link {
        cursor: pointer;
    }
}

.separator {
    height: 0.2rem;
    width: 80%;
    margin: 0 10%;
    border-radius: 2rem;
    background-color: $primary-color;
}

// .flex-container {
//     display: flex;
//     align-items: center;
//     justify-content: center;
// }

.highlights {
    display: grid;
    gap: 3rem;
    grid-template-columns: repeat(auto-fit, minmax(15rem, 1fr));
    padding: 2rem 10%;
}

.highlight-item {
    display: flex;
    flex-direction: column;
    background-color: $base-color;
    max-width: 15rem;
    h2{
        text-align: center;
        margin-bottom: 1rem;
    }
    p {
        margin-bottom: 1rem;
        font-size: 0.9rem;
        text-align: justify;
        text-justify: inter-word;
    }
    a {
        text-align: center;
        color: $primary-color;
        text-decoration: none;
    }
}

.nav-link {
    $border-size: 2px;
    padding-bottom: $border-size;
    white-space: nowrap;
    &:hover {
        border-bottom: $border-size solid $base-color;
    }
}


.btn-border-white {
    box-sizing: border-box;
    font-family: $body-font;
    font-size: 1rem;
    font-weight: bold;
    border-radius: 2rem;
    border: 1px solid white;
    padding: 0.75rem 2rem;
    background: none;
    color: white;
    cursor: pointer;
}

#logo {
    font-family: $title-font;
    font-weight: 700;
    font-size: 2.2rem;
    letter-spacing: -0.1rem;
    color: $primary-color;
}